$bg-white: #f6f6f6;
$black-text: #333333;
$main-pink: #d768b2;
$yellow: #FAD075;
$blue: #65ADF0;
$CTA-green: #13b60b;
$orange: #FACA8E;
$h1-heading: #FFFFFF;
$little-gray: #d0d0d0;
$little-white-section: #ececec;