@keyframes arrowIconMenuOffertItem {
    from{
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

@keyframes arrowIconMenuOffertItemRev {
    from{
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

@keyframes resizeDesktopLogo {
    from{
        height: 62px;
    }
    to {
        height: 45px;
        background-image: url('../../dist/img/Medycyna-chinska-logo-small.png');
    }
}

@keyframes resizeDesktopLogoRev {
    from{
        height: 45px;
        background-image: url('../../dist/img/Medycyna-chinska-logo-small.png');
    }
    to {
        height: 62px;
        background-image: url('../../dist/img/Medycyna-chinska-logo-mobile.png');
    }
}
