@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes arrowIconMenuOffertItem {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(180deg);
	}
}

@keyframes arrowIconMenuOffertItemRev {
	from {
		transform: rotateX(180deg);
	}
	to {
		transform: rotateX(0deg);
	}
}

@keyframes resizeDesktopLogoo {
	from {
		width: 228px;
		height: 62px;
	}
	to {
		width: 165px;
		height: 45px;

	}
}

@keyframes resizeDesktopLogoRevv {
	from {
		width: 165px;
		height: 45px;
	}
	to {
		width: 228px;
		height: 62px;
	}
}

@keyframes mediaBarAnim {
	from {
		height: 26px;
	}
	to {
		height: 0px;
		opacity: 0;
		display: none;
	}
}

@keyframes mediaBarAnimRev {
	from {
	}
	to {
		height: 26px;
		opacity: 1;
		display: flex;
	}
}