@media (min-width: 768px) {
	.header {
		&__h1-head {
			font-size: 34px;
			color: $h1-heading;
			width: min-content;
			letter-spacing: 3px;
			text-transform: uppercase;
			line-height: 34px;
			font-family: 'fira sans-bold';
			font-weight: 700;
			z-index: 10;
		}

		&__paragraph {
			padding-top: 20px;
			font-size: 26px;
		}
	}

	.main {
		.rings {
			&__container {
				position: absolute;
				top: 540px;
				left: 0;
				width: 100%;
				height: 160px;
			}

			&__circle {
				height: 200px;
				width: 200px;
				z-index: 1;
			}

			&__circle-one {
				transform: translate(80%, 0%);
				background-image: url(../../dist/img/rectangle1-big.jpg);
			}
			&__circle-two {
				transform: translate(-50%, 0%);
				background-image: url(../../dist/img/rectangle2-big.jpg);
				background-position: 85% 45%;
			}
			&__circle-three {
				transform: translate(-180%, 0%);
				background-image: url(../../dist/img/rectangle3-big.jpg);
			}
		}

		.aboutme {
			scroll-margin-top: -120px;

			&__box1 {
				top: 190px;
			}

			&__box-sentence {
				background-position: 0% 100%;
			}

			&__box-sentence-inside {
				display: flex;
				flex-direction: column;
				width: 450px;
			}

			&__text-sentence {
				padding: 20px;
			}

			&__my-img-small {
				display: flex;
			}

			&__text-sentence {
				left: -35%;
			}

			&__my-img-big {
				display: none;
			}

			&__quote-icon {
				display: none;
			}

			&__quote-icon-big {
				display: flex;
				position: absolute;
				top: -10px;
				left: 14px;
			}
		}

		&__acupuncture-offer-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
		}

		&__acupuncture-square {
			min-width: 300px;
			min-height: 300px;
		}

		.offer {
			&__acupuncture-sentence-text {
				max-width: 450px;
				padding-right: 50px;
			}

            &__dietetics {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 0px 0 80px 0;
            }

			&__dietetics-icon-container {
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
			}

            &__hippocrates-text-hippocrates-sentence {
                width: 250px;
            }

			&__acupuncture-container-sentence-text {
				width: 40%;
			}

			&__herbal-medicine-container {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

            &__herbal-medicine-img {
                padding: 15px;
            }


            &__chinese-medicine-container {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

            &__chinese-medicine-img {
                padding: 15px;
            }

            &__chinese-medicine-img-mobile {
                display: none;
            }

            &__chinese-medicine-img-desktop {
                display: block;
            }


            &__massage-container {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

            &__massage-img {
                padding: 15px;
            }

            &__massage-img-mobile {
                display: none;
            }

            &__massage-img-desktop {
                display: block;
            }


            &__bubble-container {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

            &__bubble-img {
                padding: 15px;
            }


            &__heat-therapy-container {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

            &__heat-therapy-img {
                padding: 15px;
            }

            &__heat-therapy-img-mobile {
                display: none;
            }

            &__heat-therapy-img-desktop {
                display: block;
            }


            &__trainings-container {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

            &__trainings-img {
                padding: 15px;
            }
		}

        .price-list {
			background-color: $bg-white;
	
			&__table {
				font-size: 15px;
			}
		}

        .faq {
			&__question-faq {
				font-size: 15px;
			}
			
			&__answer-faq {
				font-size: 15px;
			}

            &__faq-box {
				height: 38px;
			}

			&__panel-faq {
				line-height: 21px;
			}
		}
	}
}