@media (min-width: 576px) {
	.main {
		.rings {
			&__container {
				position: absolute;
				top: 540px;
				left: 0;
				width: 100%;
				height: 140px;
			}

			&__circle {
				height: 140px;
				width: 140px;
			}

			&__circle-one {
				transform: translate(80%, 0%);
				display: flex;
			}
			&__circle-two {
				transform: translate(-50%, 0%);
				background-position: 70% 45%;
			}
			&__circle-three {
				transform: translate(-190%, 0%);
				display: flex;
			}
		}

		.aboutme {
			position: relative;
			scroll-margin-top: -60px;

			&__box1 {
				top: 130px;
			}

			&__my-img-small {
				right: 70px;
				bottom: -65px;
			}
		}

		.offer {

			&__acupuncture-sentence-text {
				max-width: 380px;
				padding-right: 20px;
			}

			&__acupuncture-square2 {
				width: 500px;
				height: 500px;
				background-position: top left;
			}
		}
	}
}
