@use './colors' as *;
@use './components' as *;
@use './fonts' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'fira sans', sans-serif;
	background-color: $bg-white;
	color: $black-text;
	font-size: 16px;
}

.wrapper-nav {
	margin: 0 auto;
	max-width: 1360px;
	width: 100%;
}

.wrapper {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 1360px;
	width: 100%;
}

// NAV:

.nav-bottom-shadow {
	box-shadow: 0 1px 5px -3px $black-text;
}

.disactive {
	display: none;
}

.active {
	display: flex;
}

.rotate {
	animation: arrowIconMenuOffertItem 1s ease forwards;
}

.rotate-rev {
	animation: arrowIconMenuOffertItemRev 1s ease forwards;
}

.resize-desktop-logo {
	animation: resizeDesktopLogoo 0.8s linear forwards;
}

.resize-desktop-logo-rev {
	animation: resizeDesktopLogoRevv 0.8s linear forwards;
}

.nav {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background-color: $bg-white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.wrapper-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__desktop-nav {
		display: none;
	}

	&__logo-bg {
	margin: 4px 4px 4px 10px;
	width: 228px;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

	&__burger-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		height: 40px;
		width: 40px;
		border: none;
		cursor: pointer;
		z-index: 12;
		background-color: $bg-white;
		overflow: hidden;

		&:focus {
			outline: none;
			color: transparent;
		}
	}

	.burger-btn-border {
		border: 2px solid $black-text;
		border-radius: 4px;
	}

	&__burger-btn-container {
		position: relative;
		border-radius: 4px;
		height: 100%;
		width: 100%;
	}

	&__burger-btn-items {
		position: absolute;
		width: 90%;
		height: 10%;
		background-color: $black-text;
		border-radius: 2px;
		top: 50%;
		left: 50%;
		transition: all 0.5s;
	}

	&__burger-btn-span1 {
		transform: translate(-50%, -350%);
	}

	&__burger-btn-span2 {
		transform: translate(-50%, -50%);
	}

	&__burger-btn-span3 {
		transform: translate(-50%, 250%);
	}

	.burger-span1 {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	.burger-span2 {
		transform: translate(-260%, -50%);
		opacity: 0.4;
	}

	.burger-span3 {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&__mobile-menu-container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		top: 0px;
		left: -100%;
		background-color: $bg-white;
		padding-top: 45px;
		z-index: -1;
		transition: all 0.4s;
	}

	&__mobile-menu-items {
		display: flex;
		flex-direction: column;
	}

	&__mobile-menu-items-content {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 20px 30px;
		margin: 4px;
		font-size: 18px;
		text-transform: uppercase;
		transition: 0.3s;
		overflow: hidden;
		color: $black-text;
		outline: none;

		&:hover {
			color: $main-pink;
		}

		&::before {
			content: '';
			position: absolute;
			width: 60%;
			height: 4px;
			background-color: $main-pink;
			bottom: 0px;
			left: -65%;
			transition: all 0.2s;
			border-radius: 3px;
		}

		&:hover::before {
			left: 0px;
		}
	}

	&__mobile-menu-link {
		text-decoration: none;
		outline: none;
	}

	&__arrow-icon {
		padding-left: 8px;
		transition: all 0.2s;
	}

	&__mobile-menu-container-offer-submenu {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		top: 0px;
		left: 101%;
		background-color: $bg-white;
		padding-top: 45px;
		z-index: -1;
		transition: all 0.4s;
	}

	&__mobile-menu-items-content-submenu {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 20px 30px;
		margin: 4px;
		font-size: 18px;
		text-transform: uppercase;
		transition: 0.3s;
		overflow: hidden;
		color: $black-text;
		outline: none;

		&:hover {
			color: $main-pink;
		}

		&::before {
			content: '';
			position: absolute;
			width: 40%;
			height: 4px;
			background-color: $main-pink;
			bottom: 0px;
			left: -65%;
			transition: all 0.2s;
			border-radius: 3px;
		}

		&:hover::before {
			left: 0px;
		}
	}

	&__mobile-menu-items-back-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 20px 40px;
		font-size: 24px;
		text-transform: uppercase;
		font-family: fira sans-bold;
		background-color: $bg-white;
		cursor: pointer;

		&:hover {
			color: $main-pink;
		}
	}

	&__back-icon {
		margin-right: 15px;
	}

	&__mobile-menu-container-offer-submenu {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__external-link-icon {
		padding-left: 15px;
	}

	.mobile-menu-active {
		left: 0%;
	}

	&__media-bar {
		display: none;
	}
}

.header {
	position: relative;
	background-image: url(../../dist/img/hero-img.jpg);
	background-position: 50% 70%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;


	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #00000041;
	}

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #44444426;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		z-index: 1;
		padding: 15px;
		border-radius: 8px;
	}

	&__h1-head {
		font-size: 30px;
		width: min-content;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 32px;
		font-family: 'fira sans-bold';
		font-weight: 700;
		z-index: 10;
		color: $h1-heading;
	}

	&__paragraph {
		padding-top: 15px;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $h1-heading;
	}

	&__button{
		margin-top: 75px;
		width: 185px;
		height: 44px;
		border: none;
		background-color: $CTA-green;
		border-radius: 4px;
		color: $bg-white;
		font-family: 'fira sans-bold';
		font-size: 14px;
		letter-spacing: 0.5px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;

		&:hover .header__vertical-bar {
			margin-right: 20px;
		}
	}

	&__button-text {
		margin-left: 24px;
	}

	&__vertical-bar {
		margin-left: 20px;
		width: 1px;
		height: 100%;
		background-color: rgb(154, 216, 146);
		display: flex;
		align-items: center;
		margin-right: 15px;
		transition: all .3s;
	}
}

.main {
	font-size: 15px;

	.rings {

		&__container{
			position: absolute;
			top: 540px;
			left: 0;
			width: 100%;
			height:160px;
		}
	
		&__circle{
			position: absolute;
			height: 160px;
			width: 160px;
			border-radius: 50%;
			left: 50%;
			border: 2px solid $bg-white;
		}

		&__circle-one {
			transform: translate(70%, 0%);
			background-image: url(../../dist/img/rectangle1-small.jpg);
			background-position: 50% 50%;
			display: none;
		}
		&__circle-two {
			transform: translate(-50%, 0%);
			background-image: url(../../dist/img/rectangle2-small.jpg);
			background-position: 80% 45%;
		}
		&__circle-three {
			transform: translate(-170%, 0%);			
			background-image: url(../../dist/img/rectangle3-small.jpg);
			background-position: 50% 50%;
			display: none;
		}
	}

	.h2-title-sections {
		position: relative;
		text-transform: uppercase;
		font-size: 26px;

		&::before {
			content: '';
			position: absolute;
			width: 30px;
			height: 4px;
			border-radius: 4px;
			bottom: -16px;
			left: 0px;
			background: $main-pink;
		}
	}

	.aboutme {
		scroll-margin-top: -70px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&__title-center {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 50px;
		}


		&__box1 {
			position: relative;
			top: 150px;
		}

		&__text {
			line-height: 24px;
			margin: 0 8px;
			z-index: 1;
		}
		
		&__box-sentence {
			position: relative;
			width: 100%;
			height: 700px;
			background-image: url(../../dist/img/aboutme-bg1-small.jpg);
			background-repeat: no-repeat;
			background-position: 0% 80%;
			@include flex-center;
			z-index: -1;
		}
		
		&__text-sentence {
			position: relative;
			margin: 0 20px;
			padding: 8px;
			background-color: $bg-white;
			border-radius: 8px;
			font-family: 'fira sans-italic';
			font-weight: italic;
			color: $black-text;
			line-height: 22px;
			letter-spacing: 1px;
			font-size: 16px;
			border: 1px solid $little-gray;
		}

		&__quote-icon {
			position: absolute;
			top: -8px;
			left: 10px;
		}

		&__box-sentence-inside {
			display: flex;
			flex-direction: column;
		}

		&__my-img-small {
			position: absolute;
			max-width: 100%;
			height: auto;
			right: 50px;
			bottom: -55px;
		}

		&__my-img-big {
			display: none;
		}

		&__education {
			width: 100%;
			height: 500px;
			background-color: $little-white-section;
		}
	}
}

@import './small';
@import './medium';
@import './large';
