@use './colors' as *;
@use './components' as *;
@use './fonts' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'fira sans', sans-serif;
	background-color: $bg-white;
	color: $black-text;
	font-size: 16px;
}

.wrapper-nav {
	margin: 0 auto;
	max-width: 1360px;
	width: 100%;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
}

// NAV:

.nav-bottom-shadow {
	box-shadow: 0 1px 5px -3px $black-text;
}

.disactive {
	display: none;
}

.active {
	display: flex;
}

.rotate {
	animation: arrowIconMenuOffertItem 1s ease forwards;
}

.rotate-rev {
	animation: arrowIconMenuOffertItemRev 1s ease forwards;
}

.resize-desktop-logo {
	animation: resizeDesktopLogoo 0.8s linear forwards;
}

.resize-desktop-logo-rev {
	animation: resizeDesktopLogoRevv 0.8s linear forwards;
}

.nav {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background-color: $bg-white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.wrapper-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__desktop-nav {
		display: none;
	}

	&__logo-bg {
		margin: 4px 4px 4px 10px;
		width: 228px;
		height: 62px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__burger-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		height: 40px;
		width: 40px;
		border: none;
		cursor: pointer;
		z-index: 12;
		background-color: $bg-white;
		overflow: hidden;

		&:focus {
			outline: none;
			color: transparent;
		}
	}

	.burger-btn-border {
		border: 2px solid $black-text;
		border-radius: 4px;
	}

	&__burger-btn-container {
		position: relative;
		border-radius: 4px;
		height: 100%;
		width: 100%;
	}

	&__burger-btn-items {
		position: absolute;
		width: 90%;
		height: 10%;
		background-color: $black-text;
		border-radius: 2px;
		top: 50%;
		left: 50%;
		transition: all 0.5s;
	}

	&__burger-btn-span1 {
		transform: translate(-50%, -350%);
	}

	&__burger-btn-span2 {
		transform: translate(-50%, -50%);
	}

	&__burger-btn-span3 {
		transform: translate(-50%, 250%);
	}

	.burger-span1 {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	.burger-span2 {
		transform: translate(-260%, -50%);
		opacity: 0.4;
	}

	.burger-span3 {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&__mobile-menu-container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		top: 0px;
		left: -100%;
		background-color: $bg-white;
		padding-top: 45px;
		z-index: -1;
		transition: all 0.4s;
	}

	&__mobile-menu-items {
		display: flex;
		flex-direction: column;
	}

	&__mobile-menu-items-content {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 20px 30px;
		margin: 4px;
		font-size: 18px;
		text-transform: uppercase;
		transition: 0.3s;
		overflow: hidden;
		color: $black-text;
		outline: none;

		&:hover {
			color: $main-pink;
		}

		&::before {
			content: '';
			position: absolute;
			width: 60%;
			height: 4px;
			background-color: $main-pink;
			bottom: 0px;
			left: -65%;
			transition: all 0.2s;
			border-radius: 3px;
		}

		&:hover::before {
			left: 0px;
		}
	}

	&__mobile-menu-link {
		text-decoration: none;
		outline: none;
	}

	&__arrow-icon {
		padding-left: 8px;
		transition: all 0.2s;
	}

	&__mobile-menu-container-offer-submenu {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		top: 0px;
		left: 101%;
		background-color: $bg-white;
		padding-top: 45px;
		z-index: -1;
		transition: all 0.4s;
	}

	&__mobile-menu-items-content-submenu {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 14px 30px;
		margin: 4px;
		font-size: 18px;
		text-transform: uppercase;
		transition: 0.3s;
		overflow: hidden;
		color: $black-text;
		outline: none;

		&:hover {
			color: $main-pink;
		}

		&::before {
			content: '';
			position: absolute;
			width: 40%;
			height: 4px;
			background-color: $main-pink;
			bottom: 0px;
			left: -65%;
			transition: all 0.2s;
			border-radius: 3px;
		}

		&:hover::before {
			left: 0px;
		}
	}

	&__mobile-menu-items-back-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 20px 40px;
		font-size: 24px;
		text-transform: uppercase;
		font-family: fira sans-bold;
		background-color: $bg-white;
		cursor: pointer;
		border-bottom: 1px solid $little-gray;

		&:hover {
			color: $main-pink;
		}
	}

	&__back-icon {
		margin-right: 15px;
	}

	&__mobile-menu-container-offer-submenu {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__external-link-icon {
		padding-left: 15px;
	}

	.mobile-menu-active {
		left: 0%;
	}

	&__media-bar {
		display: none;
	}
}

.header {
	position: relative;
	background-image: url(../../dist/img/hero-img.jpg);
	background-position: 50% 70%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #00000041;
	}

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #44444426;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		z-index: 1;
		padding: 15px;
		border-radius: 8px;
	}

	&__h1-head {
		font-size: 30px;
		width: min-content;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 32px;
		font-family: 'fira sans-bold';
		font-weight: 700;
		z-index: 10;
		color: $h1-heading;
	}

	&__h1-span {
		font-family: 'fira sans';
		padding-top: 18px;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 0px;
		color: $h1-heading;
		font-weight: 400;
	}

	&__button {
		margin-top: 75px;
		width: 185px;
		height: 44px;
		border: none;
		background-color: $CTA-green;
		border-radius: 4px;
		color: $bg-white;
		font-family: 'fira sans-bold';
		font-size: 14px;
		letter-spacing: 0.5px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;

		&:hover .header__vertical-bar {
			margin-right: 20px;
		}
	}

	&__button-text {
		margin-left: 24px;
	}

	&__vertical-bar {
		margin-left: 20px;
		width: 1px;
		height: 100%;
		background-color: rgb(154, 216, 146);
		display: flex;
		align-items: center;
		margin-right: 15px;
		transition: all 0.3s;
	}
}

.main {
	font-size: 15px;

	.h2-title-sections {
		position: relative;
		text-transform: uppercase;
		font-size: 26px;

		&::before {
			content: '';
			position: absolute;
			width: 30px;
			height: 4px;
			border-radius: 4px;
			bottom: -16px;
			left: 0px;
			background: $main-pink;
		}
	}

	.h3-title-subsections {
		position: relative;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 15px;

		&::before {
			content: '';
			position: absolute;
			width: 30px;
			height: 4px;
			border-radius: 4px;
			bottom: -6px;
			left: 0px;
			background: $CTA-green;
		}
	}

	.rings {
		&__container {
			position: absolute;
			top: 540px;
			left: 0;
			width: 100%;
			height: 160px;
		}

		&__circle {
			position: absolute;
			height: 160px;
			width: 160px;
			border-radius: 50%;
			left: 50%;
			border: 2px solid $bg-white;
		}

		&__circle-one {
			transform: translate(70%, 0%);
			background-image: url(../../dist/img/rectangle1-small.jpg);
			background-position: 50% 50%;
			display: none;
		}
		&__circle-two {
			transform: translate(-50%, 0%);
			background-image: url(../../dist/img/rectangle2-small.jpg);
			background-position: 80% 45%;
		}
		&__circle-three {
			transform: translate(-170%, 0%);
			background-image: url(../../dist/img/rectangle3-small.jpg);
			background-position: 50% 50%;
			display: none;
		}
	}

	.aboutme {
		scroll-margin-top: -70px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: auto;

		&__title-center {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 50px;
		}

		&__box1 {
			position: relative;
			top: 150px;
		}

		&__text {
			margin: 0 14px; // margin text - mobile
			z-index: 1;
			padding-bottom: 25px;
			line-height: 28px;
			text-align: justify;
		}

		&__span-bold {
			font-weight: 700;
		}

		&__box-sentence {
			position: relative;
			width: 100%;
			height: 700px;
			background-image: url(../../dist/img/aboutme-bg1-small.jpg);
			background-repeat: no-repeat;
			background-position: 0% 80%;
			@include flex-center;
			z-index: -1;
		}

		&__text-sentence {
			position: relative;
			margin: 0 20px;
			padding: 12px;
			background-color: $bg-white;
			border-radius: 8px;
			font-family: 'fira sans-italic';
			font-weight: italic;
			color: $black-text;
			line-height: 26px;
			letter-spacing: 1px;
			font-size: 16px;
			border: 1px solid $little-gray;
			background: rgb(246, 246, 246);
			background: linear-gradient(
				139deg,
				rgba(246, 246, 246, 0.87718837535014) 0%,
				rgba(208, 208, 208, 0.9220063025210083) 50%,
				rgba(246, 246, 246, 1) 100%
			);
		}

		&__quote-icon-big {
			display: none;
		}

		&__quote-icon {
			position: absolute;
			top: -6px;
			left: 10px;
		}

		&__box-sentence-inside {
			display: flex;
			flex-direction: column;
		}

		&__my-img-small {
			position: absolute;
			max-width: 100%;
			height: auto;
			right: 35px;
			bottom: -85px;
		}

		&__my-img-big {
			display: none;
		}

		&__education-container {
			height: auto;
			width: 100%;
			background-color: $bg-white;
			padding: 35px 15px;
		}

		/* faq */

		&__accordion {
			width: 100%;
			padding: 0 5px;
			border: 1px solid $little-gray;
			border-radius: 4px;
			cursor: pointer;
			display: flex;
			align-items: center;
			display: flex;
			justify-content: space-between;
			background: rgb(208, 208, 208);
			background: linear-gradient(
				0deg,
				rgba(208, 208, 208, 1) 5%,
				rgba(255, 255, 255, 1) 52%,
				rgba(246, 246, 246, 1) 95%
			);
		}

		&__type-education {
			padding: 12px;
			border-radius: 4px;
			padding: 15px 15px;
			font-size: 15px;
			pointer-events: none;
		}

		&__panel {
			padding: 0 15px;
			overflow: hidden;
			transition: all 0.5s ease-in;
			border: 1px solid $little-gray;
			border-radius: 4px;
			opacity: 0;
			height: 0px;
			transition: all 0.3s;
			margin-bottom: 15px;
		}

		&__h3-education-svg-icon {
			margin: 0 10px;
			transition: all 0.3s;
			pointer-events: none;
		}

		&__list-content {
			margin: 10px 0px;
			font-size: 14px;
			line-height: 20px;
		}

		&__span-italic {
			font-family: 'fira sans-italic';
		}

		&__span-italic-bold {
			font-family: 'fira sans-italic';
			font-weight: 700;
		}

		&__span-bold {
			font-weight: 700;
		}

		.show-panel {
			animation: showEducationList 0.3s ease-in forwards;
		}

		.hide-panel {
			animation: closeEducationList 0.3s ease-in forwards;
		}

		.rotate-icon-aboutme {
			animation: arrowIconMenuOffertItem 1s ease forwards;
		}

		.rotate-rev-icon-aboutme {
			animation: arrowIconMenuOffertItemRev 1s ease forwards;
		}
	}

	.offer {
		scroll-margin-top: -280px;
		background-color: $bg-offer-section;
		overflow-y: hidden;

		&__title-center {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 50px;
		}

		&__container {
			margin: 0 14px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-bottom: 60px;
		}

		&__text {
			padding-bottom: 25px;
			line-height: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			// margin-right: 15px;
			text-align: justify;
		}

		&__acupuncture-offer-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			scroll-margin-top: 60px;
			margin-top: 60px;
		}

		&__acupuncture-square {
			line-height: 28px;
			// margin: 5px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-bottom: 55px;
		}

		&__acupuncture-square2-desktop {
			display: none;
		}

		&__acupuncture-square2 {
			background-image: url(../../dist/img/akupunktura-offer-img.jpg);
			background-position: top center;
			border-radius: 30px;
			width: 290px;
			height: 400px;
		}

		&__acupuncture-offer-text {
			text-align: justify;
			margin: 0 14px;
		}

		&__acupuncture-offer-container-desktop {
			display: none;
		}

		&__indications {
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 8px;
			border-radius: 4px;
			margin-top: 70px;
			width: 100%;
			// border-top: 1px solid $black-text;
			// border-left: 1px solid $black-text;
			// border-right: 1px solid $black-text;
		}

		&__indications-margin {
			margin-top: 50px;
		}

		&__indications-box-items {
			padding: 15px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
		}

		&__indications-items-border-bottom {
			margin-top: 15px;
			height: 1px;
			background-color: $black-text;
			width: 60%;
		}

		&__indications-items {
			border: 1px solid $black-text;
			border-radius: 4px;
			padding: 7px 15px;
			margin: 4px 4px;
			font-size: 12px;
			letter-spacing: 1px;
			word-spacing: 2px;
		}

		&__indications-h4 {
			padding: 20px 0;
			text-align: center;
			line-height: 25px;
		}

		&__acupuncture-sentence {
			background-image: url(../../dist/img/akcesoria-spa-na-ciemnym-tle.jpg);
			background-position: center;
			background-size: cover;
			padding: 120px 0;
			margin: 100px 0;
			display: flex;
			// justify-content: flex-start;
			// background-attachment: fixed;
			flex-direction: column;
			align-items: flex-end;
		}

		&__acupuncture-sentence-text {
			color: $bg-white;
			max-width: 240px;
			font-family: 'fira sans-italic';
			font-weight: italic;
			line-height: 28px;
			letter-spacing: 2px;
			font-size: 18px;
			font-weight: bold;
		}

		&__indications-items-bold {
			font-weight: bold;
			font-size: 13px;
		}

		&__indications-box-items-column {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}

		&__indications-box-items-row {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__indications-who {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			overflow: hidden;
			height: 212px; /* height !!!!!!!*/
			transition: all 0.3s;
		}

		&__indications-items-border-bottom-two {
			position: relative;
			margin-bottom: 60px;
			display: flex;
			justify-content: center;
			margin-bottom: 200px;
		}

		&__indications-items-border-bottom-two-arrow {
			position: absolute;
			top: -10px;
			cursor: pointer;
			transition: all 0.3s;
		}

		.show-offer-indication {
			animation: showOfferIndications 1s ease forwards;
		}

		.close-offer-indication {
			animation: closeOfferIndications 0.8s ease forwards;
		}

		.rotate-offer-indication {
			animation: rotateIndicationOffer 1s ease forwards;
		}

		.rotate-rev-offer-indication {
			animation: rotateIndicationOffer-Rev 1s ease forwards;
		}

		&__acupuncture-sentence-WHO {
			background-image: url(../../dist/img/drzewo.jpg);
			background-position: 40% 35%;
			background-size: cover;
			padding: 120px 0;
			margin: 100px 0;
			display: flex;
			justify-content: flex-start;
			background-attachment: fixed;
		}

		&__acupuncture-sentence-text-WHO {
			font-family: 'fira sans-italic';
			font-weight: italic;
			line-height: 28px;
			letter-spacing: 2px;
			font-size: 18px;
			font-weight: bold;
			padding-top: 30px;
			font-size: 13px;
			margin: 0px 0;
			padding: 0 0 0 0;
			color: $bg-white;
			display: flex;
			justify-content: flex-end;
			margin-right: 25px;
		}

		&__acupuncture-container-sentence-text {
			background-color: #333333cd;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			margin-left: 10%;
			width: 80%;
		}

		&__acupuncture-sentence-text-tree {
			font-family: 'fira sans-italic';
			font-weight: italic;
			line-height: 28px;
			letter-spacing: 2px;
			font-size: 18px;
			font-weight: bold;
			color: $bg-white;
			padding: 15px;
			text-align: center;
		}

		&__dietetics {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0px 0 80px 0;
		}

		&__dietetics-box {
			scroll-margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__dietetics-text {
			text-align: justify;
			margin: 0 14px;
			line-height: 28px;
			margin-top: 4px;
			height: auto;
		}

		&__dietetics-bg {
			background-image: url(../../dist/img/dietetics.jpg);
			background-position: right;
			background-repeat: no-repeat;
		}

		&__dietetics-icon-box {
			margin: 0 0 60px 0;
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		&__dietetics-icon-container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			flex-direction: column;
		}

		&__dietetics-icon-items-img {
			transition: all 0.3s;
		}

		&__dietetics-icon-items {
			width: 220px;
			height: 220px;
			background-color: $green;
			margin: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 50%;

			&:hover .offer__dietetics-icon-items-img {
				scale: 0.8;
			}
		}

		&__dietetics-icon-box-h4 {
			margin-bottom: 40px;
		}

		&__dietetics-icon-items-text {
			margin-top: 20px;
			text-align: center;
			font-weight: bold;
			width: 170px;
			line-height: 21px;
		}

		&__hipocrates-container {
			margin: 40px 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__hippocrates-text-box {
			padding: 15px;
			background-color: $bg-white-transparent;
			border-radius: 20px;
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			font-family: 'fira sans-italic';
			font-weight: italic;
			color: $black-text;
			line-height: 26px;
			// letter-spacing: 1px;
			font-size: 16px;
			font-weight: bold;
			border: 1px solid $little-gray;
		}

		&__hippocrates-text-hippocrates {
			margin: 15px 80px 0 0;
		}

		&__hippocrates-text-hippocrates-sentence {
			text-align: center;
		}

		&__herbal-medicine-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__herbal-medicine-img {
			margin-top: 40px;
			height: auto;
			width: 100%;
			min-width: 240px;
			border-radius: 30px;
			padding: 0 8px;
		}

		&__herbal-medicine-text {
			text-align: justify;
			margin: 0 14px;
			line-height: 28px;
			margin-top: 4px;
			height: auto;
		}

		&__herbal-medicine-box {
			scroll-margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__chinese-medicine-container {
			margin-top: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 70px;
		}

		&__chinese-medicine-img {
			margin-top: 40px;
			height: auto;
			width: 100%;
			min-width: 240px;
			border-radius: 30px;
			padding: 0 8px;
		}

		&__chinese-medicine-text {
			text-align: justify;
			margin: 0 14px;
			line-height: 28px;
			margin-top: 4px;
			height: auto;
		}

		&__chinese-medicine-box {
			scroll-margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__chinese-medicine-img-desktop {
			display: none;
		}

		&__massage-container {
			margin-top: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 70px;
		}

		&__massage-img {
			margin-top: 40px;
			height: auto;
			width: 100%;
			min-width: 240px;
			border-radius: 30px;
			padding: 0 8px;
		}

		&__massage-text {
			text-align: justify;
			margin: 0 14px;
			line-height: 28px;
			margin-top: 4px;
			height: auto;
		}

		&__massage-box {
			scroll-margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__massage-img-desktop {
			display: none;
		}

		&__bubble-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 80px;
		}

		&__bubble-img {
			margin-top: 40px;
			height: auto;
			width: 100%;
			min-width: 240px;
			border-radius: 30px;
			padding: 0 8px;
		}

		&__bubble-text {
			text-align: justify;
			margin: 0 14px;
			line-height: 28px;
			margin-top: 4px;
			height: auto;
		}

		&__bubble-text-padding {
			padding-bottom: 15px;
		}

		&__bubble-box {
			scroll-margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__heat-therapy-container {
			margin-top: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 70px;
		}

		&__heat-therapy-img {
			margin-top: 40px;
			height: auto;
			width: 100%;
			min-width: 240px;
			border-radius: 30px;
			padding: 0 8px;
		}

		&__heat-therapy-text {
			text-align: justify;
			margin: 0 14px;
			line-height: 28px;
			margin-top: 4px;
			height: auto;
		}

		&__heat-therapy-box {
			scroll-margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__heat-therapy-img-desktop {
			display: none;
		}

		&__trainings-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__trainings-img {
			margin-top: 40px;
			height: auto;
			width: 100%;
			min-width: 240px;
			border-radius: 30px;
			padding: 0 8px;
		}

		&__trainings-text {
			text-align: justify;
			margin: 0 14px;
			line-height: 28px;
			margin-top: 4px;
			height: auto;
		}

		&__trainings-box {
			scroll-margin-top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__button {
			margin-top: 75px;
			width: 210px;
			height: 44px;
			border: none;
			background-color: $CTA-green;
			border-radius: 4px;
			color: $bg-white;
			font-family: 'fira sans-bold';
			font-size: 14px;
			letter-spacing: 0.5px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-decoration: none;

			&:hover .offer__vertical-bar {
				margin-right: 20px;
			}
		}

		&__button-text {
			margin-left: 24px;
		}

		&__vertical-bar {
			margin-left: 20px;
			width: 1px;
			height: 100%;
			background-color: rgb(154, 216, 146);
			display: flex;
			align-items: center;
			margin-right: 15px;
			transition: all 0.3s;
		}
	}

	.svg-file-offer-section-bottom {
		vertical-align: bottom;
	}

	.title-space123 {
		padding-bottom: 60px;
	}

	.h3-padding-bottom {
		padding-top: 80px;
	}

	.price-list {
		background-color: $bg-white;

		&__table {
			// border: 1px solid $little-gray;
			margin: 0 auto;
			text-align: center;
			margin: 0 15px;
			font-size: 1rem;
			border: 5px;
			font-size: 13px;
			margin-top: 20px;
			width: 100%;
		}

		&__table-head {
			background-color: $little-gray;
			color: $black-text;
			// padding: 8px 0;
		}

		&__table-head-row {
			padding: 20px 8px;
			border-radius: 5px;
		}

		&__tbody-row {
			background-color: $white-table-price-list;
			border-radius: 5px;

			&:nth-child(even) {
				background-color: $little-white-table-price-list;
			}

			&:hover {
				background-color: rgb(234, 238, 231);
			}
		}

		&__tbody-row-items {
			padding: 20px 14px;
		}
	}

	.opinion {
		background-color: $bg-offer-section;
		height: 1000px;
		// overflow-x: hidden;
		

		
	}
}

@import './small';
@import './medium';
@import './large';
