@use './colors' as *;
@use './components' as *;
@use './fonts' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'fira sans', sans-serif;
	background-color: $bg-white;
	color: $black-text;
	font-size: 16px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1360px;
	width: 100%;
}

// NAV:

.nav-bottom-shadow {
	box-shadow: 0 1px 5px -3px $black-text;
}

.disactive {
	display: none;
}

.active {
	display: flex;
}

.rotate {
	animation: arrowIconMenuOffertItem 1s ease forwards;
}

.rotate-rev {
	animation: arrowIconMenuOffertItemRev 1s ease forwards;
}

.resize-desktop-logo {
	animation: resizeDesktopLogoo 0.8s linear forwards;
}

.resize-desktop-logo-rev {
	animation: resizeDesktopLogoRevv 0.8s linear forwards;
}

.nav {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	background-color: $bg-white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__desktop-nav {
		display: none;
	}

	&__logo-bg {
	margin: 4px 4px 4px 10px;
	width: 228px;
	height: 62px;
	}

	&__burger-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		height: 40px;
		width: 40px;
		border: none;
		cursor: pointer;
		z-index: 12;
		background-color: $bg-white;
		overflow: hidden;

		&:focus {
			outline: none;
			color: transparent;
		}
	}

	.burger-btn-border {
		border: 2px solid $black-text;
		border-radius: 4px;
	}

	&__burger-btn-container {
		position: relative;
		border-radius: 4px;
		height: 100%;
		width: 100%;
	}

	&__burger-btn-items {
		position: absolute;
		width: 90%;
		height: 10%;
		background-color: $black-text;
		border-radius: 2px;
		top: 50%;
		left: 50%;
		transition: all 0.5s;
	}

	&__burger-btn-span1 {
		transform: translate(-50%, -350%);
	}

	&__burger-btn-span2 {
		transform: translate(-50%, -50%);
	}

	&__burger-btn-span3 {
		transform: translate(-50%, 250%);
	}

	.burger-span1 {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	.burger-span2 {
		transform: translate(-260%, -50%);
		opacity: 0.4;
	}

	.burger-span3 {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&__mobile-menu-container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		top: 0px;
		left: -100%;
		background-color: $bg-white;
		padding-top: 45px;
		z-index: -1;
		transition: all 0.4s;
	}

	&__mobile-menu-items {
		display: flex;
		flex-direction: column;
	}

	&__mobile-menu-items-content {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 20px 30px;
		margin: 4px;
		font-size: 18px;
		text-transform: uppercase;
		transition: 0.3s;
		overflow: hidden;
		color: $black-text;
		outline: none;

		&:hover {
			color: $main-pink;
		}

		&::before {
			content: '';
			position: absolute;
			width: 60%;
			height: 4px;
			background-color: $main-pink;
			bottom: 0px;
			left: -65%;
			transition: all 0.2s;
			border-radius: 3px;
		}

		&:hover::before {
			left: 0px;
		}
	}

	&__mobile-menu-link {
		text-decoration: none;
		outline: none;
	}

	&__arrow-icon {
		padding-left: 8px;
		transition: all 0.2s;
	}

	&__mobile-menu-container-offer-submenu {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		top: 0px;
		left: 101%;
		background-color: $bg-white;
		padding-top: 45px;
		z-index: -1;
		transition: all 0.4s;
	}

	&__mobile-menu-items-content-submenu {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 20px 30px;
		margin: 4px;
		font-size: 18px;
		text-transform: uppercase;
		transition: 0.3s;
		overflow: hidden;
		color: $black-text;
		outline: none;

		&:hover {
			color: $main-pink;
		}

		&::before {
			content: '';
			position: absolute;
			width: 40%;
			height: 4px;
			background-color: $main-pink;
			bottom: 0px;
			left: -65%;
			transition: all 0.2s;
			border-radius: 3px;
		}

		&:hover::before {
			left: 0px;
		}
	}

	&__mobile-menu-items-back-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 20px 40px;
		font-size: 24px;
		text-transform: uppercase;
		font-family: fira sans-bold;
		background-color: $bg-white;
		cursor: pointer;

		&:hover {
			color: $main-pink;
		}
	}

	&__back-icon {
		margin-right: 15px;
	}

	&__mobile-menu-container-offer-submenu {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__external-link-icon {
		padding-left: 15px;
	}

	.mobile-menu-active {
		left: 0%;
	}
}

.header {
	position: relative;
	background-image: url(../../dist/img/hero-img.jpg);
	background-position: 50% 70%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #80808044;
	}

	// &::after {
	// 	position: absolute;
	// 	content: '';
	// 	width: 100%;
	// 	height: 100%;
	// 	// background-color: #5e5e5e3f;
	// 	background-color: #f1fff95a;
	// }

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		z-index: 1;
		// background-color: #9f9f9f4d;
		padding: 15px;
		border-radius: 8px;
	}

	&__h1-head {
		font-size: 28px;
		color: $h1-heading;
		width: min-content;
		letter-spacing: 3px;
		text-transform: uppercase;
		line-height: 34px;
		font-family: fira sans-bold;
		z-index: 10;
	}
	&__paragraph {
		padding-top: 15px;
		font-size: 22px;
		color: $h1-heading;
		text-transform: uppercase;
	}
}

.main {
	height: 2000px;
}

@import './small';
@import './medium';
@import './large';
